{% extends ('base.html.twig') %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
<div class="profile-container">
<img  src="{{ asset('uploads/profile.jpg') }}" alt="Symfony"/>
<h1>{{ name }}</h1>
</div>
{% endblock %}