{% extends 'base_loggedout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/regForm.css') }}">
{% endblock %}

{% block body %}
    <div id="regForm">
    <div class="form-container2">
    <h1 class="heading">Join the community</h1>
    <h1 class="heading">Sign up to Sportee</h1>
    {{ form(form) }}</div>
    <div class="image-container2"><img  src="{{ asset('uploads/support.png') }}" alt="Symfony"/></div>
    </div>
{% endblock %}