{% extends ('base.html.twig') %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/create.css') }}"> {% endblock %} {% block body %}

<div class='container'>
    <h1>Ask Question</h1>
    <div class="ask-main">
        <div class="ask-container">
            {{ form(form) }}
        </div>
        <div class="rules-container">
            <h2 class="rule">Rules</h2>
            <div class="line"></div>
        </div>
    </div>
</div>
{% endblock %}