{% extends('base.html.twig') %}

{% block body %}
<div class="question-container">
    <h1 class="title">{{post.title}}</h1>
    <h3>Asked by</h3>
    <div class="category">{{ post.category }}</div>
    <div class="line"></div>
   
    <img class="post" src="{{'/uploads/' ~ post.image}}" >

</div>
{% endblock %}